<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.am.yo_yo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.CompletedActivity"
            android:parentActivityName=".app.HomeActivity"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>
        <activity
            android:name=".app.YoYoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <service
            android:name=".app.YoYoService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.am.yo_yo.app.YoYoService" />
            </intent-filter>
        </service>

        <activity
            android:name=".app.SettingsActivity"
            android:parentActivityName=".app.HomeActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.HomeActivity" />
        </activity>
    </application>

</manifest>